<html>
  <body>
        <h1>Lost Pet Identification Form</h1>
    <form method="post" action ="/lost">
      <label for = "ownername" >Your name:</label>
      <input type = "text" name = "ownername"/>
      <label for = "ownernum" >Your cellphone number:</label>
      <input type = "text" name = "ownernum"/>

         <h3> What type of pet is lost? Choose one: <input type="radio" name="lostpet" value = "dog">Dog

         <label for = "lostpet">

         <input type="radio" name="lostpet" value="cat">Cat
         </label>




         </h3>


         <h3>Enter your pet's breed:<input type="text" name="breed"/></h3>
         <h3>Enter your pet's height:<input type="text" name="height"/></h3>
         <h3>Enter your pet's weight:<input type="text" name="weight"/></h3>
         <h3>Enter any additional information about your pet that may help identify it:<input type="text" name="misc"/></h3>


      <p><input type="submit" value="Submit"></p>
 </form>





  </body>
</html>
